@import 'config','home','menu','about','projects','contact','responsive';


body{
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100vh;
    line-height: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,h2,h3{
    font-weight: 400;
}

a{
    color: set-text-color($primary-color);
    text-decoration: none;
}

header{
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 1rem;
}
main{
    height: 100%;
    width: 100%;
    .social_icons{
        position: fixed;
        left: 1rem;
        bottom: 1rem;
    }
    a{
        padding: 0.4rem;
        @include transition-ease;
        &:hover{
            color: $secondary-color;
        }
    }
}

.text_secondary{
    color: $secondary-color;
}

footer{
    position: fixed;
    bottom: 0.4rem;
    right: 1rem;
    padding: 1rem;
    font-size: 1rem;
    color: set-text-color($primary-color);
    text-align: right;
}

.social_icons{
    font-size: 1.5rem;
}
footer{
    font-size: 1.2rem;
}